.pio
.pioenvs
.piolibdeps
CMakeListsPrivate.txt
.idea/
Poooong.iml

\.vscode/arduino\.json

\.vscode/c_cpp_properties\.json

\.vscode/ipch/30d82511e7a5075d/mmap_address\.bin

\.vscode/ipch/30d82511e7a5075d/RETROPONG_OLD\.ipch

\.vscode/ipch/78337455fe9b84ea/mmap_address\.bin

\.vscode/ipch/78337455fe9b84ea/WIRING\.ipch

\.vscode/ipch/856b5c0687fc00f5/mmap_address\.bin

\.vscode/ipch/856b5c0687fc00f5/WMATH\.ipch

\.vscode/ipch/89a1dfe51de045b8/JUSTBALL\.ipch

\.vscode/ipch/89a1dfe51de045b8/mmap_address\.bin

\.vscode/ipch/ec9bde50e5a11d34/mmap_address\.bin

\.vscode/ipch/ec9bde50e5a11d34/STK500BOOT\.ipch
